@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');

:root {    

    /* VARS */

    /* Backgrounds */

    --background-card: #111111;
    --background-header-footer: #414141;
    --background-text: #FFFFFF;
    --hover-card: #222222;
    --hover-link: #696969;

    /* Font Sizes */

    --font-xl: 3.2em;
    --font-lg: 2.8em;
    --font-md: 1.8em;
    --font-sm: 1.6em;
    --font-xs: 1.4em;
    --font-xxs: 1.2em;

    /* Spacings */

    --spacing-lg: 6.4rem;
    --spacing-md: 3.2rem;
    --spacing-sm: 1.6rem;
    --spacing-xs: 0.8rem;
}

/* NORMALIZE */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
}

html {
    font-size: 62.5%;
    height: 100%;
    scroll-behavior: smooth;
}

body {
    background-color: black;
    color: white;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

li {
    list-style-type: none;
}

#upButton {
    display: none;
    position: fixed;
    z-index: 1;
    right: .5rem;
    bottom: 1.0rem;
    width: 5.5rem;
    height: 5.5rem;
    opacity: 60%;
    transition: all 5s;
}

.oldConversor {
    margin: var(--spacing-md) 0;
    font-size: var(--font-md);
}

.swal2-popup {
    font-size: var(--font-sm) !important;
  }

/* HEADER */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 var(--spacing-lg) 0 var(--spacing-lg);
    background-color: var(--background-header-footer);
    box-shadow: 0 0 12px 0 #00000070;
    position: fixed;
    width: 100vw;
    z-index: 2;
}

h1 {
    font-size:var(--font-lg);
    text-transform: uppercase;
    color: white;
    padding: 1rem 0 1rem 0;
    cursor: default;
}

span {
    color: rgb(231, 182, 59);
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.menu a {
    font-size:var(--font-md);
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    transition: all .7s;
}

.menu__social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.menu__social i {
    transition: all 0.4s;
}

.menu__social i:hover {
    transform: scale(1.4);
}

.menu__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    font-weight: bold;
    text-transform: uppercase;
}

.menu__items a:hover {
    color: rgb(228, 183, 35);
}

/* MAIN */

main {
   padding: 0 var(--spacing-lg);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-xs);
    padding: var(--spacing-lg) 0 0 0;
}

.container__text {
    font-size: var(--font-md);
    text-transform: uppercase;
}

#conversorButton {
    background: linear-gradient(180deg, #C8C8C8 0%, rgba(200, 200, 200, 0.45) 100%);
    border-radius: 10px;
    text-transform: uppercase;
    text-align: center;
    font-size: var(--font-md);
    font-weight: 500;
    padding: var(--spacing-xs);
}

#conversorButton:hover {
    background: linear-gradient(180deg, #868686 0%, rgba(134, 134, 134, 0.44) 100%);
    cursor: pointer;
}

/* CONVERSOR */

.conversor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: var(--spacing-lg) 0 var(--spacing-lg) 0;
}

.conversorBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 33.2rem;
    gap: var(--spacing-sm);
    background-color: rgb(92, 92, 92);
    border-radius: 1rem;
    border: 4px ridge #9c9c9c;
    padding: var(--spacing-xs) 0 var(--spacing-md) 0 ;
}

.conversor__title {
    width: 27.5rem;
    font-size: var(--font-md);
    text-transform: uppercase;
    text-align: center;
    border-bottom: 4px ridge #9c9c9c;
    padding: 0 0 0.6rem 0;
    margin: 0 1rem 0 1rem;
}

.conversorBox__input {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
}

#button {
    position: absolute;
    padding: 0.5rem;
    right: 0;
    top: 1.5rem;
    touch-action: manipulation;
    background-color: rgba(0,0,0,0);
    cursor: pointer;
    color: black;
    border: none;
    font-size: var(--font-md);
}

.conversorBox__currency {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

select, input {
    width: 28rem;
    font-size: var(--font-md);
    border-radius: .5rem;
}

label {
    font-size: var(--font-sm);
}

/* elimina arrows en input */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input {
    -moz-appearance: textfield;
    padding-left: .5rem;
}

.conversorBox__output {
    font-size: var(--font-xl);
    border-top: 4px ridge #9c9c9c;
    border-bottom: 4px ridge #9c9c9c;
    width: 27.5rem;
    text-align: center;
}

.conversorBox__rate {
    font-size: var(--font-md);
    width: 27.5rem;
    text-align: center;
}

/* COTIZACIONES */

.cotizaciones {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: var(--spacing-lg);
}

.cotizaciones__box {
    background-color: rgb(92, 92, 92);
    text-transform: uppercase;
    padding: var(--spacing-xs);
    border-radius: 1rem;
    border: 4px ridge #9c9c9c;
    
}

.cotizaciones__title {
    font-size: var(--font-md);
    text-align: center;
    border-bottom: 4px ridge #9c9c9c;
    padding: 0 0 0.6rem 0;
    margin: 0 1rem 0 1rem;
}

th {
    padding: .6rem 1rem;
    font-size: var(--font-sm);
    text-align: left;
}

.tableFlag {
    display: flex;
    gap: .5rem;
}

td {
    font-size: var(--font-xs);
    padding: 0 1rem;
    align-items: center;
}

.countryFlag {
    width: 2rem;
    height: 2rem;
    padding-top: 0;
    padding-bottom: 0;
    border-top-width: 0;
}

/* FOOTER */

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--background-header-footer);
    margin-top: auto;
    padding: var(--spacing-xs) var(--spacing-lg);
}

footer p {
    font-size: var(--font-sm);
    text-transform: uppercase;
    color: white;
}

.spanFooter {
    font-weight: bold;
}

